<div class="jumbotron home-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 text-center">
        <%= image_tag 'tor-logo-lg.png' %>
      </div>
      <div class="col-sm-7">
        <p>View and bookmark tips from your fellow Rails and Ruby enthusiasts. You can also share a tip or two.</p>
        <hr>
        <p>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg', role: 'button' %>
          <small>
            &nbsp;or&nbsp;
            <%= link_to 'Learn more', about_path %>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>