<h4>Heading 1</h4>
<pre>
This is the main heading
========================

OR

# This is the main heading
</pre>

<h4>Heading 2</h4>
<pre>
This is the secondary heading
-----------------------------

OR

## This is the secondary heading
</pre>

<h4>Heading 3 and beyond</h4>
<pre>
### This is heading 3
#### This is heading 4 
</pre>

<h4>Text styling</h4>
<pre>
This word is *emphasized* and this word is **bold**.
This word is also _emphasized_ and this one is also __bold__.
This word shows as `code`.
</pre>

<h4>Links</h4>
<pre>
This is an [example link](http://example.com/ "Optional Title")
</pre>

<h4>Code</h4>
<p>
  Wrap your code with 3 backticks (```) on the line before and after. If you specify the language after the first set of backticks, that'll help us with syntax highlighting.
</p>
<pre>
```ruby
def new
  @tip = Tip.new
end
```

```html
&lt;body&gt;
  &lt;h1&gt;Main heading&lt;/h1&gt;
  &lt;p&gt;Paragraph text&lt;/p&gt;
&lt;/body&gt;
```

```css
&lt;style type="text/css"&gt;
  h1 { font-size: 30px; }
&lt;/style&gt;
```
</pre>

<h4>Images</h4>
<pre>
![alt text](/path/to/img.jpg "Optional Title")
</pre>

<p>Reference <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Markdown Basics</a> for a more detailed overview.</p>
