<% provide(:title, 'About') %>
  <h1>About Tips on Rails</h1>

  	<div class="col-sm-7 col-md-8">
  		<div class="about-page">
  			<p>Tips on Rails was created so Rails enthusiasts could share their tips about everything Rails. It's built and run by you. With your help, we're working together to build a library of detailed tips about every aspect of Rails development.
  			<p>You have tips. We have tips. Let's bring our ideas together.</p>
  		</div>
  	</div>
  	