<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<div class="container">
		<div class="subheader">
  		<h1>Have questions?</h1>
  	</div>
  	<div class="col-sm-7 col-md-8">
  		<div class="content-page">
  			Contact us at: tip@tipsonrails.com
  		</div>
  	</div>