<% provide(:title, 'Help') %>
	<div class="container">
		<div class="subheader">
  		<h1>How to Ask</h1>
  	</div>
  	<div class="col-sm-7 col-md-8">
  		<div class="content-page">
  			<p>Welcome to Tips on Rails!</p>
  			<p>
  				Great to see you! Here are some guidelines to help you post your tips! To make your tips as readable as possible, please:</p>
  			<h2>Specificity</h2>
  				<p>Please be as specific as possible when posting to Tips on Rails, as you are only able to post 140 characters.</p>
  				<p>Write as you would to a former loved one whom you're breaking up with, very to the point! naw mean?.</p>
  			<h2>Syntax Highlighting</h2>
  				<p>To highlight your code, please add:
  						<h4><strong>```(your language of choice)
  								<h4>---code---</h4>
  						<h4>```<h4>
  					</strong></h4>
  				</p>	
  				<p>
  					To separate the languages of your code, please add:
  						<h4><strong>## (language) code
  							<h4>```ruby</h4>
  							<h4>---code---</h4>
  							<h4>``</h4>
  					</strong></h4>
  					To the top of the post.
  				</p>
  			<h2>Make your tips relevant to others</h2>
  				<p>These tips are supposed to provide a gateway to unfound knowledge. So, please don't post shit.</p>
  			<h2>Keep an open mind</h2>
  				<p>Your tips may not always recieve the feedback you expected, get over it. Learn something new and keep moving forward.</p>
  		</div>
  	</div>
  	<div class="col-sm-5 col-md-4">
  		<div class="well well-sm" id="user-badge">
  			<h4>Linked</h4>
  			<p>This text was adapted from StackOverFlow</p>
  		</div>
  	</div>
</div>

<%= form_tag new_tip_path, method: :get do %> 
  <%= submit_tag "Post Tip", class: "btn btn-large btn-primary" %>
<% end %>


