<% provide(:title, 'Help') %>
	<div class="container">
		<div class="subheader">
  		<h1>How to Ask</h1>
  	</div>
  	<div class="col-sm-7 col-md-8">
  		<div class="content-page">
  			<p>Welcome to Tips on Rails!</p>
  			
  			<h2>Syntax Highlighting</h2>
  				To highlight your code, please add:
  						<h4><strong>```(your language of choice)
  								<h4>---code---</h4>
  						<h4>```<h4>
  					</strong></h4>
  				<p>
  					To separate the languages of your code, please add:
  						<h4><strong>## (language) code </strong></h4>
  							<h4>```ruby</h4>
  							<h4>---code---</h4>
  							<h4>``</h4>
  					To the top of the post.
  				</p>
  		</div>
  	</div>
  	<div class="col-sm-5 col-md-4">
  		<div class="well well-sm" id="user-badge">
  			<h4>Linked</h4>
  			<p>This text was adapted from StackOverFlow</p>
  		</div>
  	</div>
</div>

<%= form_tag new_tip_path, method: :get do %> 
  <%= submit_tag "Post Tip", class: "btn btn-large btn-primary" %>
<% end %>


