<% provide(:title, 'Home') %>

<% unless current_user %>
  <div class="jumbotron">
    <h2>Welcome to Tips on Rails</h2>
    <hr>
    <p class="lead">View tips from your fellow conductors.</p>
    <p><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-lg', role: 'button' %></p>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <h3>
      <i class="fa fa-clock-o"></i>
      Most recent tips 
    </h3>
    <hr>
    <%= render partial: 'tips/tip', collection: @most_recent_tips, as: :tip %>
    <%= link_to 'View all tips', tips_path %>
  </div>
  <div class="col-sm-6">
    <h3>
      <i class="fa fa-bookmark"></i>
      Most bookmarked tips
    </h3>
    <hr>
    <%= render partial: 'tips/tip', collection: @top_bookmarked_tips, as: :tip %>
  </div>
</div>