<% provide(:title, 'Home') %>

<%= render 'jumbotron' %>

<div class="row">
  <div class="col-sm-6">
    <h3>
      <i class="fa fa-clock-o"></i>
      Most recent tips 
    </h3>
    <hr>
    <%= render partial: 'tips/tip', collection: @most_recent_tips, as: :tip %>
    <%= link_to 'View all tips', tips_path %>
  </div>
  <div class="col-sm-6">
    <h3>
      <i class="fa fa-bookmark"></i>
      Most bookmarked tips
    </h3>
    <hr>
    <%= render partial: 'tips/tip', collection: @top_bookmarked_tips, as: :tip %>
  </div>
</div>