<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

    <h3>Resend confirmation</h3>

    <div class="well well-lg">

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

        <div class="form-group">
          <%= f.text_field :email, class: 'form-control', placeholder: 'Your email address', autofocus: true %>
        </div>

        <%= f.button 'Resend', class: 'btn btn-success pull-right', data: { disable_with: 'Please wait...' } %>

      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
