<div class="tip">
  <li id="<%= bookmark.id %>">
      <span class="user"><strong><%= link_to bookmark.tip.user.name, user_path(bookmark.tip.user) %></strong>
      </span>
      <span class="description"><%= link_to bookmark.tip.description, tip_path(bookmark.tip) %>
      </span>

      
  </li>
</div>