<div class="well well-sm avatar">
  <%= user.display_avatar size: 150 %>
  <p>
    Tips on Rails uses your GitHub avatar. You can change it on your <a href="https://github.com/settings/profile">GitHub settings page</a>.
  </p>
  <div class="clearfix"></div>
</div>