<%= content_tag_for :tr, tip do %>
  <th>
    <%= time_ago_in_words(tip.created_at) %> ago
  </th>
  <td class="bookmarks">
    <% if tip.bookmarks_count > 0 %>
      <i class="fa fa-bookmark"></i>
      <%= tip.bookmarks_count %>
    <% else %>
      <span class="text-muted">
        <i class="fa fa-bookmark"></i> 0
      </span>
    <% end %>
  </td>
  <td>
    <%= link_to tip.title, tip_path(tip) %>
  </td>
<% end %>