body {
  margin-top: 25px;
}

@media (min-width: 768px) {
  body {
    margin-top: 0;
  }
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  background-color: #fff;
  padding: 0;
  width: 100%;
}

.huge {
  font-size: 40px;
  line-height: normal;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding: 10px;
  }
}

// Custom Colored Panels

.panel-green {
  border-color: #5cb85c;

  .panel-heading {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
  }

  a {
    color: #5cb85c;

    &:hover {
      color: #3d8b3d;
    }
  }
}

.panel-red {
  border-color: #d9534f;

  .panel-heading {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff;
  }

  a {
    color: #d9534f;

    &:hover {
      color: #b52b27;
    }
  }
}

.panel-yellow {
  border-color: #f0ad4e;

  .panel-heading {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff;
  }

  a {
    color: #f0ad4e;

    &:hover {
      color: #df8a13;
    }
  }
}

#yellow {
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 15px 50px;
}
