<h1><%= @tip.user.name %> wants to delete their tip.</h1>
    <p>
      Tip the user wants deleted: <%= @tip.title %>
    </p>

    <p>
    	<%= @message  %>
    </p>

    
    <p>
      To view their tip, go to <%= link_to "tips", user_path(@tip) %> .
    </p>