<h1><%= @tip.user.name %> wants to delete their tip.</h1>
<p>
  Tip the user wants to delete: <%= link_to @tip.title, tip_url(@tip) %>
</p>

<p>
  <strong>Reason to delete the tip:</strong><br>
  <%= @message %>
</p>