// FONTS
@import url(http://fonts.googleapis.com/css?family=Scada:400,700);





// LAYOUT ELEMENTS

body {
  padding: 70px 0 30px;
}

#logo {
  margin-bottom: -14px;
  margin-top: -16px;
}

.navbar-nav > li > a.nav-btn {
  background-color: lighten($brand-background, 8%);
  border: solid 1px transparent;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  padding: 4px 11px;
  
  &:hover {
    border: solid 1px lighten($brand-background, 40%);
  }
}





// TYPOGRAPHY

.page-header {
  h2 {
    color: $brand-primary;
    font-family: 'Scada', sans-serif;
    font-weight: 700;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}





// FOOTER

footer {
  border-top: 1px solid $gray-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;
  
  a {
    &:hover { 
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 10px;
    }
  }
}





// JUMBOTRON

.jumbotron {

  h2 {
    margin-top: 0;
  }

  hr {
    border-color: #ddd;
  }

  &.home-page {
    background-color: $brand-background;
    margin-top: -19px;
    padding-top: 10px;

    p {
      color: lighten($brand-background, 40%);
      margin-top: 1.5em;
    }

    hr {
      border-color: $brand-primary;
    }

    .btn-primary {
      background-color: lighten($brand-background, 8%);
      border-color: lighten($brand-background, 40%);
      color: #fff;
      text-decoration: none;

      &:hover {
        background-color: #fff;
        color: $brand-background;
      }
    }

    a {
      color: lighten($brand-background, 40%);
      text-decoration: underline;

      &:hover {
        color: #fff;
      }
    }
  }
}





// DEVISE

ul.devise-links {
  clear: both;
  font-size: $font-size-small;
  list-style: none;
  margin: 30px 0 0;
  padding: 0;

  li {
    display: inline;

    &:after {
      content: ' | ';
    }

    &:last-child:after {
      content: '';
    }
  }
}





// FORMS

.approaching-limit {
  color: #f00;
}





// TIPS

.tip {
  small {
    color: $gray-light;
    font-size: $font-size-small;
    text-transform: uppercase;
  }

  .controls {
    float: left !important;
    margin-right: .5em;
  }

  .bookmarks-label {
    background-color: lighten($brand-success, 30%);
    border-radius: .25em;
    color: #080;
    float: left !important;
    line-height: 1;
    margin-right: .5em;
    padding: .25em .4em .3em .6em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;

    &.none {
      background-color: #ddd;
      color: #999;
    }
  }

  .page-header {
    margin-top: 0;

    .bookmarks-label {
      display: inline-block;
      float: none !important;
      font-weight: bold;
      margin-right: .2em;
      padding: .5em .6em .6em .8em;
    }

    #bookmark-form {
      display: inline-block;
      margin-right: .5em;
    }

    h1 {
      color: $brand-primary;
      font-family: 'Scada', sans-serif;
      margin-top: 10px;
    }
  }

  .body {
    h1 {
      border-bottom: solid 1px #eee;
      color: darken($tip-body-headings, 10%);
      font-size: 28px;
      padding-bottom: .3em;
    }

    h2 {
      border-bottom: solid 1px #eee;
      color: $tip-body-headings;
      font-size: 24px;
      padding-bottom: .3em;
    }

    h3 {
      color: lighten($tip-body-headings, 10%);
      font-size: 20px;
    }

    h4 {
      color: lighten($tip-body-headings, 20%);
    }

    h1 + div.highlight,
    h2 + div.highlight,
    h3 + div.highlight {
      margin-top: 1.5em;
    }

    img {
      height: auto;
      max-width: 100%;
    }

    hr {
      background-color: #e7e7e7;
      border: 0;
      height: 4px;
      margin: 16px 0;
      padding: 0;
    }
  }
}

.tip-body-wrapper {
  border: solid 1px #ddd;
  border-top: 0;
  margin-bottom: 2em;
  padding: 15px 15px 0;

  #code-preview {
    max-height: 400px;
    overflow: scroll;
  }

  .cheatsheet {
    color: lighten($gray-base, 60%);
    font-size: 12px;

    a {
      color: lighten($link-color, 20%);
      cursor: pointer;
      font-weight: bold;
    }
  }
}





// USER PROFILE

table#tips,
table#bookmarks {
  margin-left: 1.75em;
  width: auto;

  th {
    border-top: 0;
    color: $gray-light;
    font-size: $font-size-small;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
  }

  td {
    border-top: 0;
    padding: 4px;

    &.bookmarks {
      color: #080;
      text-align: center;
      white-space: nowrap;
    }

    &.none {
      color: #999;
    }
  }
}





// MISCELLANEOUS

.icon-color {
  color: $brand-icon-color;
}

#user-badge {
  img {
    float: left;
    margin-right: 1em;
  }

  h4 {
    margin: 0;
    padding: 0;
  }

  .username {
    color: $gray-light;
  }

  p {
    margin-bottom: 3px;
  }
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: grey-Dark;
  display: block;
  font-size: 13px;
  line-height: 1.428571429;
  margin: 0 0 10px;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
  
  
  
}





// MODAL

.modal-content {
  background: #fff;
  background-clip: padding-box;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
  margin-bottom: 10px;
  padding: 10px 15px;
  position: relative;
}

.modal-header {
  padding-bottom: 15px;
  position: relative;
}

.modal-body p {
  color: #8d9aa5 !important;
  font-size: 14px !important;
  line-height: 1.5;
  margin-bottom: 15px;
}

.modal pre {
  color: #8d9aa5 !important;
  display: block;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.5;
  margin: 1em 0;
  white-space: pre;
}
