/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Scada:400,700);

/* LAYOUT ELEMENTS */

body {
  padding: 70px 0 30px 0;
}

#logo {
  margin-top: -16px;
  margin-bottom: -14px;
}

.navbar-nav > li > a.nav-btn {
  display: inline-block;
  background-color: lighten($brand-background, 8%);
  padding: 4px 11px;
  margin: 10px;
  border: solid 1px transparent;
  border-radius: 4px;
  &:hover {
    border: solid 1px lighten($brand-background, 40%);;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {

}

.page-header {
  h2 {
    font-family: 'Scada', sans-serif;
    font-weight: 700;
    color: $brand-primary;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-light;
  color: $gray-light;
  a {
    &:hover { 
      color: #222;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

// Jumbotron

.jumbotron {
  h2 {
    margin-top: 0;
  }
  hr {
    border-color: #ddd;
  }
}

// Devise

ul.devise-links {
  font-size: $font-size-small;
  margin: 30px 0 0;
  padding: 0;
  clear: both;
  list-style: none;
  li {
    display: inline;
    &:after {
      content: " | ";
    }
    &:last-child:after {
      content: "";
    }
  }
}

// Forms

span.help-block {
  font-size: $font-size-small;
  
}
span.countdown {
  font-size: $font-size-small;
  color: gray;

}

// Tips

.tip {
  small {
    text-transform: uppercase;
    color: $gray-light;
    font-size: $font-size-small;
  }
  .controls {
    float: left !important;
    margin-right: 0.5em;
  }
  .bookmarks-label {
    float: left !important;
    margin-right: 0.5em;
    padding: 0.25em 0.4em 0.3em 0.6em;
    line-height: 1;
    background-color: lighten($brand-success, 30%);
    color: green;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    &.none {
      background-color: #ddd;
      color: #999;
    }
  }
  .page-header {
    margin-top: 0;
    .bookmarks-label {
      float:none !important;
      display: inline-block;
      margin-right: 0.2em;
      font-weight: bold;
      padding: 0.5em 0.6em 0.6em 0.8em;
    }
    #bookmark-form {
      margin-right: 0.5em;
      display: inline-block;
    }
    h1 {
      font-family: 'Scada', sans-serif;
      // font-weight: 700;
      color: $brand-primary;
      margin-top: 10px;
    }
  }
  .body {
    h1 {
      color: darken($tip-body-headings, 10%);
      font-size: 28px;
    }
    h2 {
      color: $tip-body-headings;
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
      color: lighten($tip-body-headings, 10%);
    }
    h4 {
      color: lighten($tip-body-headings, 20%);
    }
    h1 + div.highlight,
    h2 + div.highlight,
    h3 + div.highlight {
      margin-top: 1.5em;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

// User profile

table#tips, table#bookmarks {
  margin-left: 1.75em;
  width: auto;
  th {
    color: $gray-light;
    font-weight: normal;
    text-transform: uppercase;
    font-size: $font-size-small;
    border-top: none;
    white-space: nowrap;
  }
  td {
    padding: 4px;
    border-top: none;
    &.bookmarks {
      text-align: center;
      white-space: nowrap;
      color: green;
      &.none {
        color: #999;
      }
    }
  }
}

/* miscellaneous */

.icon-color {
  color: $brand-icon-color;
}

.jumbotron.home-page {
  background-color: $brand-background;
  margin-top: -19px;
  padding-top: 10px;
  p {
    margin-top: 1.5em;
    color: lighten($brand-background, 40%);
  }
  hr {
    border-color: $brand-primary;
  }
  .btn-primary {
    background-color: lighten($brand-background, 8%);
    border-color: lighten($brand-background, 40%);
    color: white;
    text-decoration: none;
    &:hover {
      background-color: white;
      color: $brand-background;
    }
  }
  a {
    color: lighten($brand-background, 40%);
    text-decoration: underline;
    &:hover {
      color: white;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

#user-badge {
  img {
    float:left;
    margin-right: 1em;
  }
  h4 {
    margin: 0 0 5px 0;
    padding: 0;
  }
  p {
    margin-bottom: 3px;
  }
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: grey-Dark;
  background-color: whitesmoke;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
