<table class="table">
  <thead>
    <tr>
      <th>Week</th>
      <th>Total Tips</th>
      <th>Tips Added</th>
      <th>Change</th>
    </tr>
  </thead>
  <tbody>
    <% @weekly_tips.each do |week|  %>
    <tr>
        <td><%= week %></td>
        <td></td>
        <td></td> 
        <td></td>
      <% end %>
    </tr>
  </tbody>
</table>

