<% provide(:title, 'Weekly Stats') %>

<div class = "container">
	<div class="col-sm-12">
	 <h3>
     Weekly Stats
   </h3>
	</div>

	<div class="col-sm-12">
	   <%= render 'tip', collection: @weeks %>
	</div>
</div>