<% provide(:title, 'Weekly Stats') %>

<div class = "container">
	<div class="col-sm-12">
	 <h3>
   </h3>
	</div>

	<div class="col-sm-12">
	   <%= render 'tip', collection: @weekly_tips %>
	</div>
</div>