<div class="form-group">
  <%= f.text_area :body, rows: 12, class: 'form-control', placeholder: 'Why do you want to delete this tip?' %>  
</div>

</p>

<%= f.submit "Submit", class: "btn btn-large btn-primary" %>