<div class="form-group">
  <%= f.text_field :title, class: 'form-control input-lg', placeholder: 'Tip title' %>
  <p class="help-block">Max. length 50 characters.</p>
</div>

<div class="form-group">
  <%= f.text_area :description, class: 'form-control', placeholder: 'Short tip description' %>
  <p class="help-block">Max. length 250 characters.</p>
</div>

<div class="form-group">
  <%= f.text_area :body, rows: 12, class: 'form-control', placeholder: 'Detailed tip content and code' %>  
</div>


<%= f.submit class: 'btn btn-success' %>