<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Markdown Cheat Sheet</h4>
      </div>
      <div class="modal-body">
        <p>Markdown is a short-hand syntax for easily converting text to HTML. Below are some popular examples of Markdown formatting. For more examples reference <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Markdown Basics</a> for a more detailed overview.</p>
        <h4>Links</h4>
        <p>This is an [example link](http://example.com/)</p>
        <h4>Code</h4>
        <p>
            Wrap your code with 3 backticks (```) on the line before and after. If you specify the language
            after the first set of backticks, that'll help us with syntax highlighting.
          </p>
          <pre>            ```ruby
            def new
              @tip = Tip.new
            end
            ```
          </pre>
          <h4>Italic</h4>
          <p>Here’s a word that is *emphasized*</p>
          <h4>Bold</h4>
          <p>Here’s a word that is **bold**</p>
          <h4>Images</h4>
          <p>![alt text](/path/to/img.jpg "Title")</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>