<div class="controls">
  <% if can? :destroy, @tip %>
    <%= link_to @tip, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: "If you delete this, it's not coming back. Maybe, you would rather edit this tip." }, title: @tip.title do %>
      <i class="fa fa-times"></i>
    <% end %>
  <% end %>
  <% if can? :update, @tip %>
    <%= link_to edit_tip_path(@tip), class: 'btn btn-primary btn-xs' do %>
      <i class="fa fa-pencil"></i>
    <% end %>
  <% end %>
</div>
