<p>
  <strong>Title:</strong>
  <li><%= @tip.title %></li>
</p>

<p>
  <strong>Description:</strong>
  <li><%= @tip.description %></li>
</p>

<p>
  <strong>Code:</strong>
  <%= raw Pygments.highlight(@tip.code, lexer: 'ruby') %>
</p>

<p>
  <strong>Reference:</strong>
  <li><%= @tip.references %></li>
</p>