<% provide(:title, 'Delete Tip') %>

<div class="page-header">
  <h1>Why do you want to derail this tip?</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>We thought long and hard and could not come to a conclusion on whether deleting tips is a good idea. So, we decided to include you in the decision process.</p>
    
    <%= form_tag send_destroy_email_tip_path, method: :post do %>
      <div class="form-group">
        <%= text_area_tag :message, '', class: 'form-control', placeholder: 'Why you wanna say bye-bye...', rows: 5 %>
     </div>
      <%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

