<h1>Why do you want to delete this tip?</h1>

<p>At this point in time, we aren't sure whether we want our users to be able to delete their tips. Please tell us why you would want to delete your tip.</p>

<p>

<div class="row">
  <div class="col-xs-12">
    <%= form_for @tip, url: {action: "email"} do |f| %>
      <%= render 'shared/form_errors', object: f.object %>
      <%= render 'destroy_form', f: f %>
    <% end %>
  </div>
</div>


