<% provide(:title, "Tip") %>
	
<div class="page-header">
  <h2>All Tips</h2>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="tips">
		<div><%= render @tips %></div>
		<%= will_paginate @tips %> 
  </ul>
  </div>
</div>