<% provide(:title, 'New Tips') %>
<h1>New Tips</h1>

	<div class="row">
	  <div class="span6 offset3">
	    <%= form_for(@tip) do |f| %>
	    	<%= render 'shared/form_errors', object: f.object %>
	      <%= render 'form', f: f %>
	    <% end %>
	  </div>
	</div>

	<%= link_to 'Back', tips_path %>