<% provide(:title, 'New Tip') %>

<div class="page-header">
  <h2>Add New Tip</h2>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@tip) do |f| %>
      <%= render 'shared/form_errors', object: f.object %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
